* {
    padding: 0;
    /* background-color:rgba(44, 200, 200, 0.886) ; */
    margin: 0;
    font-family: "Jost", sans-serif;
}



nav ul li{

    list-style-type:none;
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    gap: 80px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-left: 300px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    max-width: 1000px;
    
   
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url("background4.png");
    background-size: cover;
    z-index: 1;
}
.logo{
    padding-left: 50px;
}

.profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
    

}

.profile p{

    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
 
}


.icon{

    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;  
    padding-top: 50px; 
    animation: alternate; 
}


.second-section{
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0008229b;
    padding: 20px;
    }

.intro{

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.name {
    font-size: 20px;
    font-weight: 500; 
    padding: 10px; 
}
.title {
    font-size: 16px;
    font-weight: 500;  
    padding: 10px; 

}

.description {
   max-width: 600px;  
   text-align: center;

}

.icons-social{
    font-size: larger;
    display: flex;
    gap: 10px;
    padding: 10px; 


}



    .my-progress-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
      
    }
    .bar{
        border: 1px solid black;
        width: 200px;
    
    }
    .resume {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    h1 {
        margin-bottom: 10px;
    }
    
    .designation {
        font-style: italic;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    ul li {
        margin-bottom: 10px;
    }
    
    ul ul {
        margin-left: 20px;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

   
